@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

[hidden] { display: none!important; }

*, *::before, *::after {
    padding: 0;
    margin: 0;
}

ul, li {
    list-style: none;
}

small {
    font-size: 0.6eem;
}

body {
    background-image: url('../img/bg.png');
    background-size: cover;
    font-family: 'Syne Mono', monospace;
}

#coverImage {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}

#coverImage img {
    max-width: 90svw;
}

#cardsContainer {
    min-height: 90vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    width: 70vw;
    margin: 20px auto;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 25%;
    text-align: center;
}

.card header {
    font-size: 3em;
}

.card main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    min-height: 250px;
    border: #000 solid 2px;
    overflow: auto;
    font-family:'Courier New', Courier, monospace;
    font-size: 2em;
    background-color:#f5f5f55f;

    transition-property: box-shadow, transform, background-color;
    transition-duration: 200ms;
}

.card main:hover {
    transform: translate(-2px, -2px);
    box-shadow: 4px 4px 4px #000;
    background-color:#f5f5f5f5;
}

#card-dump {
    padding-top: 10px;
    max-height: 200px;
    font-size: 1em;
    text-align: left;
}

.card footer {
    padding-bottom: 10px;
}

#page-footer
{
    padding: 10px;
    color:whitesmoke;
    text-align: center;
    text-shadow: 2px 2px 2px #000;
}

@media screen and (max-width: 1440px)
{
    .card {
        flex: 45%;
    }
}

@media screen and (max-width: 768px)
{
    .card {
        flex: 100%;
    }
}